{% extends 'layout.html' %}
{% block body %}
  <!-- Page Header -->
  
  <header class="masthead" style="background-image: url('static/img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Skoder</h1>
            <span class="subheading">{{params['tag_line']}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

      {% for code in codes %}
        <div class='post-preview'>
          <a href="/code/{{code.slug}}"><div class='post-title' align='center'>{{code.title}}</div>
          <div class="post-subtitle" align='center'>{{code.subheading[0:40]}}...</div></a>
          <p class="post-meta" align ='right'>Posted by
            <a href="#">me</a>
            on {{code.date}}</p>
        </div>
        <hr>
      {% endfor %}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-left" href="{{prev}}">&larr; Previous </a>
          <a class="btn btn-primary float-right" href="{{next}}">Next &rarr;</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

  